<div class="row mt-4 gx-5 h-100">
    <div class="col-9" [ngSwitch]="view">
        <app-week-calendar *ngSwitchCase="'week'"></app-week-calendar>
        <app-day-calendar *ngSwitchCase="'day'"></app-day-calendar>
        <app-month-calendar *ngSwitchCase="'month'"></app-month-calendar>

    </div>
    <div class="col d-flex flex-column">
        <div class="row">
            <app-month-calendar></app-month-calendar>
        </div>
        <div class="row">
            <app-settings (changeView)="setView($event)"></app-settings>
        </div>
    </div>
</div>
