<div class="container-fluid p-0 h-100 d-flex flex-column">
    <div class="row">
        espacio?
    </div>
    <div class="row flex-grow-1">
        <div class="col-10">
            <app-week-calendar></app-week-calendar>
        </div>
        <div class="col d-flex flex-column">
            <div class="row flex-grow-1">
                <app-settings></app-settings>
            </div>
            <div class="row">
                <app-month-calendar></app-month-calendar>
            </div>
        </div>
    </div>
</div>


