<div class="row h-100 pt-4 gx-5">
   <div class="col-3">
        <div class="row">
            <app-search (searchInput)="searchGroups($event)"></app-search>
        </div>
        <div class="row mt-2">
            <app-group-list [groups]="groups" (selectedGroup)="setGroup($event)"></app-group-list>
        </div>
    </div>
    <div class="col">
        <div *ngIf="!selectedGroup"> <- selecciona un grupo</div>
        <app-group-info *ngIf="selectedGroup" [group]="selectedGroup"></app-group-info>
    </div> 
</div>

