<nav class="navbar navbar-light bg-primary" *ngIf="registered"><!--Se muestra si el usuario está registrado-->
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/home']">
            <button class="btn btn-dark" routerLinkActive="btn-light" [routerLinkActiveOptions]="{exact: true}">
             logo   
            </button>
        </a>
        <div>
            <a class="navbar-brand" [routerLink]="['/schedule']">
                <button class="btn btn-primary" routerLinkActive="btn-light" [routerLinkActiveOptions]="{exact: true}">
                    <i class="fa-solid fa-calendar"></i> Agenda</button>
            </a>
            <a class="navbar-brand" [routerLink]="['/groups']">
                <button class="btn btn-primary" routerLinkActive="btn-light">
                    <i class="fa-solid fa-users"></i> Grupos</button>
            </a> 
        </div>
        <div>
            <button class="btn btn-primary" data-toggle="tooltip" title="Cambiar idioma de la página">
                <i class="fa-solid fa-language"></i></button>
            <a class="navbar-brand" [routerLink]="['/user']" >
                <button class="btn btn-primary" routerLinkActive="btn-light" [routerLinkActiveOptions]="{exact: true}">
                <i class="fa-solid fa-circle-user"></i> Usuario</button>
            </a><!--dropdown con settings y logout-->
        </div>
    </div>
</nav>

<nav class="navbar navbar-light bg-primary" *ngIf="!registered"><!--Se muestra si el usuario no está registrado-->
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/home']">
            <button class="btn btn-dark" routerLinkActive="btn-light" [routerLinkActiveOptions]="{exact: true}">
                logo   
            </button>
        </a>
        <div>
            <button class="btn btn-primary" data-toggle="tooltip" title="Cambiar idioma de la página">
                <i class="fa-solid fa-language"></i></button>
            <a class="navbar-brand" [routerLink]="['/login']" routerLinkActive="active"><button class="btn btn-dark">Iniciar sesión</button></a>
            <a class="navbar-brand" [routerLink]="['/register']" routerLinkActive="active"><button class="btn btn-warning">Registrarse</button></a>
        </div>
    </div>
</nav>
