<nav class="navbar navbar-light bg-primary p-0" *ngIf="setHeader()"><!--Se muestra si el usuario está registrado-->
    <div class="container-fluid mx-4">
        <a class="navbar-brand" [routerLink]="['/']">
            <button class="btn p-1" routerLinkActive="btn-light" [routerLinkActiveOptions]="{exact: true}">
                <img src="assets/logo.png" alt="Bisy Frends logo" height="70"> 
            </button>
        </a>
        <div>
            <a class="navbar-brand" [routerLink]="['/schedule']">
                <button class="btn btn-primary" routerLinkActive="btn-light" [routerLinkActiveOptions]="{exact: true}">
                    <i class="fa-solid fa-calendar"></i> Agenda</button>
            </a>
            <a class="navbar-brand" [routerLink]="['/groups']">
                <button class="btn btn-primary" routerLinkActive="btn-light">
                    <i class="fa-solid fa-users"></i> Grupos</button>
            </a> 
        </div>
        
            
        <div class="dropdown">
            <!-- https://stackblitz.com/edit/angular-simple-ngx-bootstrap-k1z7yq?file=src%2Fapp%2Fapp.module.ts
                <button class="btn btn-primary" data-toggle="tooltip" title="Cambiar idioma de la página">
                <i class="fa-solid fa-language"></i></button> -->
            <button class="btn btn-primary dropdown-toggle" [ngClass]="userActive()" data-bs-toggle="dropdown">
            <i class="fa-solid fa-circle-user"></i> {{username}}</button>

            <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" [routerLink]="['/user']" >Configuración</a>
                <a class="dropdown-item" (click)="logout()">Cerrar sesión</a>
            </div>
        </div>

    </div>
   
</nav>

<nav class="navbar navbar-light bg-primary" *ngIf="!setHeader()"><!--Se muestra si el usuario no está registrado-->
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']">
            <button class="btn p-1" routerLinkActive="btn-light" [routerLinkActiveOptions]="{exact: true}">
                <img src="assets/logo.png" alt="Bisy Frends logo" height="70"> 
            </button>
        </a>
        <div>
            <button class="btn btn-primary" data-toggle="tooltip" title="Cambiar idioma de la página">
                <i class="fa-solid fa-language"></i></button>
            <!--Se muestra solo en main page-->
            <a class="navbar-brand" [routerLink]="['/login']" routerLinkActive="active" *ngIf="!onLoginPage()"><button class="btn btn-dark">Iniciar sesión</button></a>
            <a class="navbar-brand" [routerLink]="['/register']" routerLinkActive="active" *ngIf="!onLoginPage()"><button class="btn btn-warning">Registrarse</button></a>
        </div>
    </div>
</nav>
