<div class="row">
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Anterior semana" (click)="changeWeek('-')">
            <i class="fa-solid fa-caret-left"></i></button>
        <h3>{{title}}</h3><!--To do: primera mayus con css y espacio con las flechas-->
        <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Siguiente semana" (click)="changeWeek('+')">
            <i class="fa-solid fa-caret-right"></i></button>
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col" *ngFor="let day of focusedWeek" [ngClass]="{'text-danger': day.date.getTime() === today.getTime()}">
        <div class="row">{{day.day}}</div>
        <div class="row">{{day.number}}</div>
    </div>
</div>
<div class="row overflow-auto h-50">
    <table class="table table-striped">
        <tbody>
            <tr *ngFor="let hour of [].constructor(24); let i = index">
                <th>{{i}}:00</th>
                <td *ngFor="let hour of [].constructor(7)"></td>
            </tr>
        </tbody>
    </table>
</div>
