<div class="container d-flex flex-column h-100">
    <div class="row gx-5 h-100">
        <div class="d-flex justify-content-center mt-4">
            <img src="assets/logo.png" height="350" alt="Bisy Frends logo">
        </div>
        <div class="d-flex justify-content-center">
            <h1>¡Bienvenid@ a Bisy Frends!</h1>
        </div>
        <div class="text-justify">
            <p>A veces la vida es demasiado ajetreada y puede resultarnos difícil organizar nuestra agenda tanto a nivel personal como a nivel social.</p>
            <p>En esta página web encontrarás una herramienta que puede ayudarte a gestionar tus planes o eventos, pero para poder utilizarla necesitarás crear una cuenta.</p>
            <p>
                Una vez tengas una cuenta podrás encontrar dos pestañas: agenda y grupos. En 'agenda' podrás ver, en un calendario con diferentes formatos, los eventos
                pasados, presentes y futuros que tengan una fecha decidida, mientras que en 'grupos' tendrás a tu disposición los grupos a los que perteneces con los planes
                relacionados a éstos; aquí habrá algunos que no tengan una fecha final así que aparecerán diferentes fechas para que los integrantes voten según les vengan bien o mal.
            </p>
        </div>
    </div>
</div>
