<div class="row d-flex align-items-stretch">
    <div class="row bg-dark text-white">
        <div class="col-1"><i class="fa-solid fa-users"></i></div>
        <div class="col">
            <div class="row">{{group.name}}</div>
            <div class="row">
                <span *ngFor="let participant of participants">
                    {{participant.username}}
                </span>
            </div>
        </div>
    </div>

    <div class="row h-75">
        <app-event-datatable [group]="group"></app-event-datatable>
    </div>
</div>

