<div class="row gx-0 d-flex justify-content-around pt-2">
    <div class="col-auto">
        <button class="btn btn-primary" (click)="view('day')"><i class="fa-solid fa-calendar-day"></i> Día</button>
    </div>
    <div class="col-auto">
        <button class="btn btn-primary" (click)="view('week')"><i class="fa-solid fa-calendar-week"></i> Semana</button>
    </div>
    <div class="col-auto">
        <button class="btn btn-primary" (click)="view('month')"><i class="fa-solid fa-calendar-days"></i> Mes</button>
    </div>
</div>
<div class="row mt-2">
    <div class="col-auto">
        <button class="btn btn-warning" [routerLink]="['addEvent']"><i class="fa-solid fa-calendar-plus"></i> Añadir evento</button>
    </div>
    <div class="col-auto">
        filtros
    </div>
</div>
