<div class="container-fluid bg-primary text-dark p-2">
    <div class="row justify-content-center">
        <div class="row justify-content-around w-50">
            <div class="col-auto">
                <img src="assets/iconpng.png" height="15">
                <span> Bisy Frends</span>
            </div>
            
            <div class="col-auto">
                <span>Chisela Marien Colás Gil 03-2023 </span>
                <i class="fa-regular fa-copyright"></i>
            </div>
        </div>
    </div>
</div>
