<div class="container-fluid p-0 h-100 d-flex flex-column">
    <div class="row">
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Mes anterior" ><!--(click)="changeMonth('-')"-->
                <i class="fa-solid fa-caret-left"></i></button>
            <h3>{{title}}</h3><!--To do: primera mayus con css y espacio con las flechas-->
            <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Siguiente mes">
                <i class="fa-solid fa-caret-right"></i></button>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <td *ngFor="let day of weekDays"><span [ngClass]="{'text-danger': day === today.toLocaleDateString('es', {weekday:'narrow'})}">{{day}}</span></td><!--cambiar estilo-->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let week of focusedMonth.keys()">
                    <td *ngFor="let day of focusedMonth.get(week)">
                        <!--[ngClass]="{'text-danger': number === today.getDate()}"-->
                        <span>
                            {{day.getDate()}}
                        </span>
                    </td><!--cambiar estilo-->
                </tr>
            </tbody>
        </table>
    </div>
</div>
